#chat{
	height:100px;
	overflow-y:auto;
	position:relative;
	bottom:0;
}
#chatWrap{
	position:relative;
	overflow:none;
	max-width:500px;
	min-width:500px;
	height:100px;
	border: 1px solid black;
	padding:5px;
}
#message{
	position:relative;
	padding:5px;
	margin-top:5px;
}
#bodywrap{
	position:absolute;
	left:1%;
	top:1%;
}
#users{
	float:left;
}